.area {
    display: block;    
    width: 709px;
    height: 300px;
    border: 3px solid black;
    margin: 0 auto;
    
}

.keyboard {
    
    width: 715px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 0;
    background: rgb(241, 233, 5);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
           
}



.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 40px;
    width: 5%;
    border-radius: 3px;
    margin: 3px;
    border: none;
    background: #4805f0;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    vertical-align: top;
    
}

.keyboard__key:active {
    background-color: #0202f8f9;
    
}

.keyboard__key--wide {
    width: 11%;
}

.keyboard__key--extra-wide {
    width: 34%;
    max-width: 500px;
}

.keypress_style {
    background-color: aqua;
}


